h1 {
    background-color: rgb(17, 163, 78);
}

table,
th,
td {
    border: 1px solid black;
    background:rgb(255, 255, 255)
}
tr {
    cursor: pointer;
}
button {

    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(255, 249, 245)
   
}

.font {
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
}



